<div id="app">
  <h1>This is where Backbone should be started</h1>
</div>

<script type="underscore/template" id="appViewTemplate">
  <h1>Our Secrets App</h1>

  <div id="secretForm">
    An instance of the SecretInputView should be loaded here
  </div>

  <ul id="secrets">
    Many instances of the SecretView should be loaded here
  </ul>
</script>

<script type="underscore/template" id="secretInputViewTemplate">
  <textarea placeholder="Tell me all of your secrets">
  </textarea>

  <button>Submit</button>
</script>
