<h2>GET /animals/:id - This should show one animal with the ID of <%= @animal["id"] %></h2>

<h3><%= @animal["species"] %></h3>
<h3><%= @animal["image"] %></h3>
<h3><%= @animal["description"] %></h3>
