<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals CRUD App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
  </nav>

  <h1>Our Animals App</h1>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
