<h2>This should show the form to create a new habitat</h2>

<form action="/habitats" method="POST">
  <p>
    <label>Landscape: </label>
    <input type="text" name="landscape">
  </p>
  <p>
    <label>Climate: </label>
    <input type="text" name="climate">
  </p>
  <input type="submit" value="Create habitat">
</form>
