<h2>This is the home page - find me in views/home.erb</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia error, perspiciatis excepturi ipsum temporibus, non mollitia impedit molestiae, magni eum ab eos pariatur! Fugit asperiores voluptas, doloremque ducimus suscipit provident?</p>
