<h2>This is our about page</h2>

2 + 2 = <%= 2 + 2 %>
<!-- Evaluate -->
<% todos = ["Sing happy birthday", "eat cake", "stare at Badger", "Watch Satantango"] %>

<ul>
  <% todos.each do |todo| %>
    <li> <%= todo %> </li>
  <% end %>
</ul>
