<h1>Pages#numbers</h1>
<p>Find me in app/views/pages/numbers.html.erb</p>

<p><%= number_to_human( @large_number ) %></p>

<p><%= number_to_phone( @phone_number ) %></p>

<p><%= number_to_currency( @price ) %></p>
