body {
  width: 600px;
  height: 600px;
  font-family: monospace;
  margin: 0 auto;
  text-align: center;
  background-color: darkgrey;
  color: white;
}

h1 {
  font-size: 60px;
  margin-top: 0px;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  height: 100vh;
  background-color: rgb(68,68,68);
  padding: 20px;
}

.quote {
  font-size: 30px;
  font-style: oblique;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 18px;
  padding: 10px;
  font-family: monospace;
}
